<div class="container">
    <div class="row justify-content-center">
        <page-title></page-title>
        <div class="col-3">
            <p class="groove">
                <movie-list></movie-list>
            </p>
        </div>

        <div class="col-3">
            <p class="ridge">
                <fav-photos></fav-photos>
            </p>
        </div>

        <div class="col-3">
            <p class="groove">
                <chores-list></chores-list>
            </p>
        </div>
    </div>
</div>
<hr class="row">
<p class="favLinks">
    <fav-links></fav-links>
</p>